/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

/* https://www.w3schools.com/howto/howto_css_topnav_centered.asp */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    letter-spacing: 2px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
nav:nth-child(1) {
    padding-left: 25px;
}

a:hover {
    transition: background-color 0.8s ease;
    background-color: #7A7979;
}

#homePage {
    text-align: center;
    margin: 0% 5%;
}

#homeHeading {
    padding-top: 2%;
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
}

#homeDescription{
    padding: 1% 30%;
    font-size: 1.5em; 
    font-family: 'Source Sans Pro', sans-serif;
}

#makePost, #posts, #header{
    margin: 0% 30%
}

#postButton{
    float: right;
}

.formSubmit{
	border-radius: 20px;
	background-color: #351D66;
	color: #D8E5E5;
	font-size: 1em;
	padding: 12px 45px;
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    text-align: center;
    left: 20%;
    font-family: 'Oswald', sans-serif;
}

#signupButt{
    padding-top: 2%;
}

.makePostSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #3E3E3E;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makePostSubmit:link, .makePostSubmit:visited, .makePostSubmit:hover, .makePostSubmit:active {
    color: white;
}

.makePostSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #7A7979;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #7A7979;
}

#postMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

#postMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
    font-family: 'Oswald', sans-serif;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: #FF5656;
    font-family: 'Oswald', sans-serif;
}

#post {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#header {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#posts {
    width: 40%; 
    min-width: 400px;
    margin-top: 50px;
}

.post {
    width: 95%; 
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ECF0F1;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

#gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  width: 100%;
}
#gridContainer img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  width: 40%;
}

img{
    width:10%;
}

h1{
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}


input:focus {
  border-color: green
}

input{
  width: 13%;
  padding: 12px 20px;
  margin: 8px 0;
/*  box-sizing: border-box;*/
  font-family: 'Oswald', sans-serif;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  font-size: 1.1em;

}

#makePost input, #posts input, #header input{
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

#homeInputs{
    padding-top: 10%;
    text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.hidden {
 visibility: hidden;
}

.show {
 visibility: visible;
}

#subscribeButton button{
    font-size: .5em;
    font-family: 'Oswald', sans-serif;
}

#deleteButton{
    position: relative;
    bottom: 15px;
/*    padding-left: 30%;*/
    
}

label{
    color: #1f1c1a;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}
footer{
    position: relative;
    top:50%;
    text-align: center;
    font-size: .9em;
    font-family: 'Source Sans Pro', sans-serif;
}

::placeholder{
    color: #A99DF3;
}

#username {
    font-family: 'Oswald', sans-serif;

}

#postDate {
    font-family: 'Source Sans Pro', sans-serif;
}

#postHead{
    font-family: 'Source Sans Pro', sans-serif;
}

#postBlogPost{
    font-family: 'Source Sans Pro', sans-serif;
}
#postNickName{
    font-family: 'Source Sans Pro', sans-serif;
}
